/* =========================
   que se vea limpio
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   variables de colores
========================= */
:root {
    --primary: #2563eb; /* Azul tech */
    --text: #111;
    --secondary: #555;
    --bg: #f9fafb;
}

/* =========================
   el body
========================= */
body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

/* =========================
   el contenedor
========================= */
.container {
    max-width: 850px;
    margin: 40px auto;
    padding: 40px;
    background: white;
}

/* =========================
   el header
========================= */
.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
}

/* Contacto en línea */
.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 8px;
}

.contact a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 14px;
}

.contact a:hover {
    color: var(--primary);
}

/* =========================
   las secciones
========================= */
section {
    margin-bottom: 28px;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 10px;
}

h3 {
    font-size: 15px;
    font-weight: 600;
}

/* =========================
   lo de la experiencias y de educacion (son las tablas)
========================= */
.item {
    margin-bottom: 15px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-header span {
    font-size: 13px;
    color: var(--secondary);
}

/* =========================
   hacer las listas
========================= */
ul {
    margin-left: 18px;
}

li {
    margin-bottom: 4px;
}

/* =========================
    un grid para las habilidades
========================= */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* =========================
   lo de los idioams
========================= */
.languages li {
    margin-bottom: 5px;
}

/* =========================
   que sea responsive
========================= */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .item-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* =========================
   para imprirmirlo bien
========================= */
@media print {
    body {
        background: white;
    }

    .container {
        margin: 0;
        padding: 20px;
    }

    a {
        color: black;
        text-decoration: none;
    }
}